.chat-screen-filler{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-wrapper {
    font-family: Roboto, sans-serif;
    width: 600px;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    border-radius: 5px;
    overflow: hidden;
}

.chat-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.chat-error h1 {
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
    margin: 1rem;
}

.chat-error p {
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.chat-error button {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    
    border: none;
    border-radius: 0.4rem;
    outline: none;

    padding: 0.7rem;
    cursor: pointer;
}

.chat-error button:hover {
    background: rgb(227, 227, 255);
}